body {
  background-color: rgb(31, 29, 29);
  color: rgb(241, 232, 232);
  text-align: center;
}

div p {
  display: inline;
  padding-left: 10px;
}

div {
  padding-top: 10px;
}

p a {
  font-size: 20px;
  color: rgb(241, 232, 232);
}